.nav-tabs {
  border-bottom: 2px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-tabs .nav-link {
  color: #007bff;
  font-weight: bold;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.nav-tabs .nav-link:hover {
  color: #0056b3;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}