/* You can add global styles to this file, and also import other style files */
/* styles.css or styles.scss */
body {
    background-color: #343a40; /* Dark background */
    color: #fff; /* Light text color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #212529; /* Slightly different dark background for container */
    padding: 20px;
    border-radius: 8px;
  }